#root {
  & > .information {
    .m-alert {
      img {
        max-height: 1.5rem;
      }
    }
    .m-title {
      padding: 0.5rem;
      text-align: center;
      background-color: #f1f1f1;
    }
    .m-cnt {
      .m-cnt-title {
        color: #1890ff;
        text-align: center;
        font-weight: bold;
      }
      .m-cnt-list {
        .ant-row {
          text-align: center;
          padding: 0.3rem 0;
          font-size: 1rem;
          background-color: white;
          height: 2rem;
          margin-bottom: 12px;
        }
        .today {
          color: #00c900;
        }
        .default {
          color: red;
        }
        .ant-row:hover {
          background-color: #e6f7ff;
        }
      }
    }
  }
}
